html, body {
  overflow: hidden;
  height: 100%;
  justify-content: center;
  align-content: center;
}

#game-container {
    width: 100vw; 
    height: 98vh; 
    background: black; 
    position: relative; 
    overflow: hidden;
    border: 2px solid #333;
}

#world {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#player {
    width: 15px; 
    height: 15px; 
    background: red; 
    position: absolute; 
    top: 0px; 
    left: 0px;
}

#sector {
    position: absolute;
    top: -92.5px;
    left: -92.5px;
    width: 200px;
    height: 200px;
    background: rgba(142, 225, 65, 0.50); 
    border-radius: 50%;

    mask-image: conic-gradient(yellow 0deg 110deg, transparent 110deg 360deg);
    -webkit-mask-image: conic-gradient(yellow 0deg 110deg, transparent 110deg 360deg);
}

.enemy {
    background-color: greenyellow;
    position: absolute;
    width: 15px;
    height: 15px;
}

.wall {
    position: absolute;
    background-color: white;
}

.bullet {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: 0px;
    left: 0px;
}

.health-bar {
    position: absolute;
    width: 30px;
    height: 3px;
    border: 1px solid white;
    background-color: greenyellow;
    top: -15px;
    left: -9px;
}